name: process-dandisets
on:
  workflow_dispatch:
  schedule:
    - cron: "37 3 * * *" # 3:37 AM UTC every day
    - cron: "37 12 * * *" # 12:37 PM UTC every day
    - cron: "37 21 * * *" # 9:37 PM UTC every day
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: process-dandisets
        run: |
          python scripts/collect_dandi_nwb_meta.py
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          S3_ENDPOINT_URL: ${{ secrets.S3_ENDPOINT_URL }}
